/***********/
/* GENERAL */
/***********/

html{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
	background-color:#F5F5F5;
	margin:0;
	padding:0;
	overflow:hidden;
}
.Panel{
	width:100%;
	height:100%;
}
.panel-body{
	width:100%;
	height:100%;
}
.pages-container{
	position: relative;
	width:100%;
	height:100%;
	/*height:83%;*/
	/*max-width: 1024pt;
	max-height: 768pt;*/
	/*max-width: 2048px;
	max-height: 1536px;*/
	z-index: 0;
	overflow:hidden;
}

a{
	text-decoration: none;
}
.Layer{
	position:absolute;
	width:100%;
	height:100%;
	margin:auto;
}

.big-img{
	margin:0;
	width:100%;
	height:100%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#F5F5F5;
	z-index:0;
}
.gesture{
	z-index:10;
}

/********************/
/* PAGES TRANSITION */
/********************/

.page-right, .page-left, .page-center-horizontal{
	position:absolute;
	z-index:0;
	transition: ease-out left 0.4s;
	-moz-transition: ease-out left 0.4s;
	-webkit-transition: ease-out left 0.4s;
	-o-transition: ease-out left 0.4s;
}
.page-left{
	left:-100%;
}
.page-right{
	left:100%;
}
.page-center-horizontal{
	left:0;
	z-index: 0;
}

/**********************/
/* GALLERY NAVIGATION */
/**********************/

.left-container, .right-container{
	position:absolute;
	z-index:10;
}
.left-container{
	top:0;
	left:0;
	position:absolute;
	width:10%;
	height:100%;
}
.right-container{
	top:0;
	right:0;
	width:10%;
	height:100%;
}

/*********/
/* ICONS */
/*********/

.left-arrow, .right-arrow{
	position:absolute;
	width:50px;
	height:50px;
	opacity:0.7;
	background-size:100%;
	background-color:#F5F5F5;
	background-repeat:no-repeat;
	z-index:9;
}
.left-arrow:hover, .right-arrow:hover{
	opacity: 0.8;
}
.left-arrow:active, .right-arrow:active{
	opacity:1;
}

.left-arrow{
	left:0;
	top:50%;
	margin-top:-25px;
	margin-left:5px;
	background-image:url("assets/arrow_left.png");
	background-position:left center;
}
.right-arrow{
	right:0;
	top:50%;
	margin-top:-25px;
	margin-right:5px;
	background-image:url("assets/arrow_right.png");
	background-position:right center;
}

#master{
	position:fixed;
	right:5px;
	top:5px;
	background:url("assets/master_icon-off.png");
	width:50px;
	height:50px;
	z-index:20;
	cursor: pointer;
}
#master.down{
	background:url("assets/master_icon-on.png");
}

#pointer{
	width:20px;
	height:34px;
	background:url("assets/pointer-red.png");
}
.pointer-display, .pointer-hide{
	position:fixed;
	left:5px;
	top:5px;
	width:50px;
	height:50px;
	cursor: pointer;
}
.pointer-display{
	background:url("assets/pointer-grey-button.png");
	z-index:20;
}
.pointer-hide{
	background:url("assets/pointer-red-button.png");
	cursor:url("assets/pointer-red.png"), pointer;
	z-index:21;
}

/**********/
/* THUMBS */
/**********/

.panel-footer{
	position:absolute;
	bottom:0;	
	width:100%;
	/*height:90px;*/
	height:10%;
	position:absolute;
	/*background-color: rgba(66,66,66,0.5);*/
	padding-top:10px;
	padding-bottom:10px;
	overflow-x:auto;
	overflow-y:hidden;
	z-index:20;
}
.thumbs-container{
	height:100%;
}
.thumbs-mask{
	/*width:1700px;*/
	width:auto;
	height:100%;
	white-space:nowrap;
}
.thumb{
	bottom:0;
	max-height:80px;
	max-width:130px;
	height:100%;
	/*width:100%;*/
	margin-left:10px;
	margin-bottom:10%;	
	position:relative;
	/*float:left;*/
	/*margin-top:10px;*/
	border: rgba(66,66,66,0.5) 1px solid;
	opacity:1;
	z-index:12;
}
.thumb:hover{
	opacity:1;
}
.thumb{
	opacity: 0.8;
}
.thumb{
	opacity: 0.8;
}
.thumb-last-item{
	margin-right:10px;
}
.page-opened img{
	border: red 1px solid;
}
